{% extends "layout.html" %}

{% block body %}

<img src="{{ url_for('static', filename='images/logo2.PNG') }}" width="100%" alt="Logo do Siga 2.0">
<h1> Usuário </h1>

    <form action="/" method="get">
<select style="width:200px;" name="name">
    <option disabled selected value="">Nome</option>
    <option name="rena" value="rena">Rena</option>
    <option name="will" value="will">Will</option>
    <option name="ambos" value="ambos">Ambos</option>
</select>

    <input style="width:200px" type="submit" value="Enviar" size="3">

    </form>

{% endblock %}